.box-80 {
  margin-top: 4rem;
  display: block;
  width: 100%;
}

.post-card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 0.2rem;
}

.post-card-top {
  display: flex;
  align-content: baseline;
  align-items: baseline;
  .username {
    color: #d31616;
  }

  .date {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    display: block;
    width: max-content;
  }
}

.post-card-content {
  width: 100%;
  margin-top: 0.8rem;
  h2 {
    width: 100%;
    padding: 0;
    margin: 0 0 0.6rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  p{
    width: 100%;
    display: block;
    margin: 0;
    overflow-wrap: break-word; max-width : 100%;
  }
}

.post-card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  border-top: 2px solid #eeeeee;
  padding-top: 0.4rem;
  .action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: max-content;

    cursor: pointer;
    padding: 0.2rem 1rem;
    border-radius: 4px;
    margin-left: 0.4rem;
    span {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
    &:hover {
      background-color: #eee;
    }
  }
}

.col-lg-9 {
  padding: 0;
}

.post-card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 1rem 0.3rem;
  }
}

.ulist {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin: 0;
    padding: 0.3rem;
  }
}